#search_box
{
    display: block;
    text-align: center;
    font-family: 'arial', sans-serif;
    color: #333;
    margin-top: 89px;
    margin: auto;
    padding: 0;
    max-width: 25%;
    min-width: 20%;
}

#search_box h1
{
    font-family: 'Baskervville', serif;
    color: #333;
}

#search_box form
{
    margin: auto;
    text-align: center;
    display: block;
}

#search_box input[type="text"]
{
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    max-width: 50%;
    text-align: left;
    padding-left: 20px;
    outline: none;
    height: 20px;
}

#search_button
{
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}

#search_button input[type="submit"]
{
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9ff;
    height: 36px;
    min-width: 54px;
}

#search_button input[type="submit"]:hover
{
    border: 1px solid #808080;
}

#options
{
    display: block;
    text-align: right;
    font-family: 'arial', sans-serif;
    color: #333;
}

#options a
{
    padding: 5px;
}

label
{
    text-align: left;
}

.search_type
{
    display: block;
    padding: 5px;
    margin-bottom: 30px;
}

.search_type label
{
    float: left;
}

.advanced
{
    float: right;
}